 <div id="menu1" class="tab-pane fade">
 <form method="post" action="ccosts">
                                <div class="form-group"> <label class="control-label">Estimated construction costs</label>
                                    <div class="input-group"> <span class="input-group-addon">£</span> <input type="text" name="ccosts" class="form-control" placeholder="<%= ccosts %>"> <span class="input-group-addon">.00</span> </div>
                                </div>
                                    
        <button type="submit" class="btn btn-default">Submit</button>
                            </form>    

</div>
