 <div id="menu2" class="tab-pane fade">
 <form method="post" action="revenue">
                                <div class="form-group"> <label class="control-label">Estimated sales revenue</label>
                                    <div class="input-group"> <span class="input-group-addon">£</span> <input type="text" name="revenue" class="form-control" placeholder="<%= revenue %>"> <span class="input-group-addon">.00</span> </div>
                                </div>
                                    
        <button type="submit" class="btn btn-default">Submit</button>
                            </form>    

</div>
